.TodoSearch {
  background: white;
  border-radius: 12px;
  margin: 0 24px;
  height: 64px;
  width: calc(100% - 62px);
  font-size: 24px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #1E1E1F;
  border: 1px solid #e9eef6;
  box-shadow: rgb(238, 243, 251) 0px 4px 8px ;
}

.TodoSearch::placeholder {
  color: #A5A5A5;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

.TodoSearch:focus {
  outline-color: #61DAFA;
}